<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}User Group Directory{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/appsite/css/reset.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/appsite/css/base.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/appsite/css/site.css') }}" type="text/css" media="all" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block head_css %} {% endblock %}
        {% block head_js %}  {% endblock %}
    </head>
    <body>
        <div id="ugd-login-bar" class="s12 clear-both ugd-wrapper-style">
            <ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>logged as <a href="{{ path('fos_user_user_show', {'username': app.user.getUsername}) }}">{{app.user.getUsername()}}</a></li>
                <li><a href="{{ path('_security_logout') }}">logout</a></li>
                {% else %}
                <li><a href="{{ path('_security_login') }}">login</a></li>
                <li><a href="{{ path('fos_user_user_new') }}">register</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="ugd-wrapper" class="s12 clear-both ugd-wrapper-style">

            {% if app.session.flash('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
            {% endif %}

            <header class="ugd-header clear-both">

                {% block header %}
				<div class="mark">
                	<h1>User Group Directory</h1>					
				</div>
                <nav>
                    <ul>
                        <li><a href="">Search</a></li>
                    </ul>
                </nav>
                {% endblock %}
            </header>
            
            <div class="ugd-content clear-both">
                {% block content %}
                {% endblock %}
            </div>
            
            <footer class="ugd-footer">
                {% block footer %}
                &COPY; 2011 - <a href="http://doh.ms">Rafael Dohms</a>
                {% endblock %}
            </footer>
        </div>
        {% block foot_js %}{% endblock %}
    </body>
</html>
